<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAp5S9DGqQFR7moDdWmlThK5mmvsdnPfDs</string>
	<key>GCM_SENDER_ID</key>
	<string>622247414004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.p3</string>
	<key>PROJECT_ID</key>
	<string>tem-upload-file</string>
	<key>STORAGE_BUCKET</key>
	<string>tem-upload-file.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622247414004:ios:23a6cdb4a03bb8533d76a1</string>
</dict>
</plist>